# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
.mixin.out
.vscode
eclipse
saves
crash-reports
debug
local
modernfix
resourcepacks
screenshots
schematics
server-resource-packs
shaderpacks
temp
texturepacks
cherishedworlds-favorites.dat
options.txt
rhino.local.properties
servers.dat
servers.dat_old
usercache.json
usernamecache.json
backups
etched-sounds/
fancymenu_data
logs
emf
emi.json
data
!kubejs/data
.qmenu_opened.marker
icon.png
panorama.dat
kubejs/exported
kubejs/probe
kubejs/jsconfig.json
kubejs/README.txt
config/konkrete/locals/
config/openloader/resources/*
!config/openloader/resources/99_RaspberryResources
mods
pack.toml
index.toml
.nojekyll
.packwizignore
.lazyyyyy/

# Files from Forge MDK
forge*changelog.txt

# Baisylia's Files
instance.json

# macOS
.DS_Store
/xaero
packwiz.json
packwiz-installer.jar
packwiz-installer-bootstrap.jar
command_history.txt
config/fabric/indigo-renderer.properties
/.lazyyyyy
